.row{
    display:  flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
}

button{
    height: 40px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: rgb(87, 42, 250);
    border: none;
}
button:hover{
    cursor: pointer;   
    background-color: whitesmoke;
    color: rgb(87, 42, 250);
    border: 5px solid rgb(87, 42, 250);
}

.box{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    background-color: rgb(87, 42, 250);
}
.box:hover{
    color: rgb(87, 42, 250);
    /* border: 3px solid rgb(87, 42, 250); */
    cursor: pointer;
    background-color: whitesmoke;
}
.box p{
    margin-top: 40px;
    font-size: 26px;
    font-weight: bolder;
}
body{
    background-color: black;
    color: white;
}
input{
    height: 30px;
    width: 250px;
    padding-left: 10px;
    border-radius: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}