.row{
    /* border: 1px solid black; */
    width: 300px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}
.row input{
    height: 20px;
    margin-top: 10px;
}
body{
    background-color: rgb(19, 19, 19);
    color: white;
}
.form button{
    height: 30px;
    width: 100px;
    background-color: rgb(255, 115, 0);
    color: white;
    border: 3px solid white;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    margin-top: 20px;
}
.form button:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(255, 115, 0);
    border: 3px solid rgb(255, 115, 0);
    border-radius: 10px;
}
table{
    /* border: 1px solid white; */
    width: 400px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
}
